    <div class="modal" data-controller="modal" data-result-target="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <h1>Result</h1>
          <div class="result-show" data-modal-target="content"></div>
          <button type="button" class="btn" data-action="click->modal#close">Try again</button>
        </div>
      </div>
    </div>
