<% if @won %>
  <div data-controller="win"></div>
  <button class="btn-modal" data-action="click->tiles#showAll">Show picture</button>
<% else %>
  <button type="button" class="btn-modal" data-action="click->modal#close">Try again</button>
<% end %>
