    <div class="modal" data-controller="modal" data-result-target="modal" data-tiles-target="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <h1>Result</h1>
          <div class="result-show" data-modal-target="content"></div>
          <div class="buttons" data-modal-target="buttons"></div>
        </div>
      </div>
    </div>
