<% if @won %>
  <button class="btn-modal"><%= link_to 'Play again', root_path %></button>
<% else %>
  <button type="button" class="btn-modal" data-action="click->modal#close">Try again</button>
<% end %>
