    <div class="modal" data-controller="modal" data-result-target="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <h1>Result</h1>
          <div class="result-show" data-modal-target="content"></div>
          <div class="buttons">
            <button type="button" class="btn-modal" data-action="click->modal#close">Try again</button>
            <button class="btn-modal"><%= link_to 'Play again', root_path %></button>
          </div>
        </div>
      </div>
    </div>
