<div class="container" data-controller="tiles">
  <h1>Which animal is this?</h1>
  <div class="picture">
    <%= image_tag("#{@animal.name}.jpg") %>
    <%# removed layer with d-none for testing %>
    <div class="layer">
      <div class="row h-25 w-100 m-0">
        <div id="1" data-tiles-target="tile" data-action="click->tiles#hide" class="tile col-4"></div>
        <div id="2" data-tiles-target="tile" data-action="click->tiles#hide" class="tile col-4"></div>
        <div id="3" data-tiles-target="tile" data-action="click->tiles#hide" class="tile col-4"></div>
      </div>
      <div class="row h-25 w-100 m-0">
        <div id="4" data-tiles-target="tile" data-action="click->tiles#hide" class="tile col-4"></div>
        <div id="5" data-tiles-target="tile" data-action="click->tiles#hide"class="tile col-4"></div>
        <div id="6" data-tiles-target="tile" data-action="click->tiles#hide" class="tile col-4"></div>
      </div>
      <div class="row h-25 w-100 m-0">
        <div id="7" data-tiles-target="tile" data-action="click->tiles#hide" class="tile col-4"></div>
        <div id="8" data-tiles-target="tile" data-action="click->tiles#hide" class="tile col-4"></div>
        <div id="9" data-tiles-target="tile" data-action="click->tiles#hide" class="tile col-4"></div>
      </div>
      <div class="row h-25 w-100 m-0">
        <div id="10" data-tiles-target="tile" data-action="click->tiles#hide" class="tile col-4"></div>
        <div id="11" data-tiles-target="tile" data-action="click->tiles#hide" class="tile col-4"></div>
        <div id="12" data-tiles-target="tile" data-action="click->tiles#hide" class="tile col-4"></div>
      </div>
    </div>
  </div>
  <div data-tiles-target="output" class="clicks"></div>
  <div class="answer" data-controller="result">
    <%= render 'form' %>
    <button data-action="click->result#show">Test button</button>
    <div class="modal" data-result-target="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                This is a modal
            </div>
        </div>
    </div>
  </div>
</div>
