<div class="container" data-controller="tiles">
  <div data-tiles-target="output" class="clicks">Click on a tile to start!</div>
  <div class="picture">
    <%= image_tag("#{@animal.name}.jpg") %>
    <%# removed layer with d-none for testing %>
    <div class="layer">
      <div class="row h-25 w-100 m-0">
        <div id="topleft" data-tiles-target="tile" data-action="click->tiles#hide" class="tile col-4"></div>
        <div id="2" data-tiles-target="tile" data-action="click->tiles#hide" class="tile col-4"></div>
        <div id="topright" data-tiles-target="tile" data-action="click->tiles#hide" class="tile col-4"></div>
      </div>
      <div class="row h-25 w-100 m-0">
        <div id="4" data-tiles-target="tile" data-action="click->tiles#hide" class="tile col-4"></div>
        <div id="5" data-tiles-target="tile" data-action="click->tiles#hide"class="tile col-4"></div>
        <div id="6" data-tiles-target="tile" data-action="click->tiles#hide" class="tile col-4"></div>
      </div>
      <div class="row h-25 w-100 m-0">
        <div id="7" data-tiles-target="tile" data-action="click->tiles#hide" class="tile col-4"></div>
        <div id="8" data-tiles-target="tile" data-action="click->tiles#hide" class="tile col-4"></div>
        <div id="9" data-tiles-target="tile" data-action="click->tiles#hide" class="tile col-4"></div>
      </div>
      <div class="row h-25 w-100 m-0">
        <div id="bottomleft" data-tiles-target="tile" data-action="click->tiles#hide" class="tile col-4"></div>
        <div id="11" data-tiles-target="tile" data-action="click->tiles#hide" class="tile col-4"></div>
        <div id="bottomright" data-tiles-target="tile" data-action="click->tiles#hide" class="tile col-4"></div>
      </div>
    </div>
  </div>
  <div class="answer" data-controller="result insert">
    <%= render 'form' %>
    <%= render 'modal' %>
  </div>
</div>
