<div class="container">
  <h1>Which animal is this?</h1>
  <div class="picture">
    <%= image_tag("#{@animal.name}.jpg") %>
    <div class="row h-25"></div>
    <div class="row h-25"></div>
    <div class="row h-25"></div>
    <div class="row h-25"></div>
  </div>
</div>
