<div class="container">
  <h1>Which animal is this?</h1>
  <div class="picture">
    <%= image_tag("#{@animal.name}.jpg") %>
    <div class="layer">
      <div class="row h-25 w-100 m-0">
        <div class="col-4"></div>
        <div class="col-4"></div>
        <div class="col-4"></div>
      </div>
      <div class="row h-25 w-100 m-0">
        <div class="col-4"></div>
        <div class="col-4"></div>
        <div class="col-4"></div>
      </div>
      <div class="row h-25 w-100 m-0">
        <div class="col-4"></div>
        <div class="col-4"></div>
        <div class="col-4"></div>
      </div>
      <div class="row h-25 w-100 m-0">
        <div class="col-4"></div>
        <div class="col-4"></div>
        <div class="col-4"></div>
      </div>
    </div>
  </div>
</div>
