.btn-submit {
  background-color: #ff5e6d;
  color: white;
  border-radius: 25px;
  border: none;
  height: 3rem;
  width: 3rem;
  margin: 0.5rem;
  font-weight: bold;
  padding: 0;
}

.btn-modal {
  background-color: #ff5e6d;
  color: white;
  border-radius: 25px;
  border: none;
  height: 3rem;
  width: 10rem;
  margin: 0.5rem;
  font-weight: bold;
  padding: 0;
}
